body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#020617,#0f172a,#020617);
color:white;
margin:0;
text-align:center;
}

.header{
padding:40px;
}

.header h1{
font-size:40px;
background:linear-gradient(90deg,#38bdf8,#22c55e);
-webkit-background-clip:text;
color:transparent;
}

.upload-card{
margin:auto;
width:350px;
padding:30px;

background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);

border-radius:20px;

box-shadow:0 10px 40px rgba(0,0,0,0.6);

transition:0.3s;
}

.upload-card:hover{
transform:translateY(-5px);
}

button{
padding:12px 25px;
margin-top:15px;
border:none;
border-radius:10px;

background:linear-gradient(90deg,#38bdf8,#22c55e);

font-size:16px;
cursor:pointer;

color:white;

transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

.result-card{

margin-top:40px;

width:800px;
max-width:90%;

margin-left:auto;
margin-right:auto;

padding:30px;

border-radius:20px;

background:rgba(255,255,255,0.06);

backdrop-filter:blur(12px);

box-shadow:0 15px 40px rgba(0,0,0,0.6);

animation:fadeIn 1s ease;
}

img{

margin-top:20px;

width:260px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,0.5);

}

.details{

text-align:left;

margin-top:30px;

line-height:1.7;

}

.details h3{

color:#38bdf8;

margin-top:25px;

}

.nutrition-table{

width:100%;

border-collapse:collapse;

margin-top:10px;

}

.nutrition-table td{

padding:10px;

border-bottom:1px solid rgba(255,255,255,0.1);

}

canvas{
margin-top:40px;
width:400px !important;
height:400px !important;
margin-left:auto;
margin-right:auto;
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}